.pic{
    margin-left: 20px;
}
/*.nav-link{
font-size: 27px;
font-family: Montserrat,sans-serif;
margin-left: 10px;
margin-top: 10px;*/

.image{
    
    width: 500px;
    height: 800px;
  background-image: url(https://www.dacia.co.uk/agg/vn/unique/ONE_DACIA_PP_LARGE_DENSITY2/d_brandSite_carPicker_1.png?uri=https%3A%2F%2Fuk.co.rplug.renault.com%2Fproduct%2Fmodel%2FJD1%3Bck%3DVP%2Fdacia-duster%2Fc%2FA-ENS_0MDL2PSL1NIVEQPT0_-TEENZ);
}
