.pic1{
    margin-left: 700px;
    
}

.border{

    font-size: 20px;
    font-weight: 700;
}


.ull{
    margin-left: 40px;
}

.text2{
    margin-top: 100px;
}
.text5{
    text-decoration: none;
    font-size: 17px;
    color: rgb(118, 114, 114);
    font-weight: 500;
    margin-top: 100px;


}

.main5{
    
    margin: 0 !important;
    padding: 0 !important;

}

.fttext{
    font-size: 14px;
   color:  rgb(179, 166, 166);
}

.explo{
    font-weight: 500;
}

